.carousel {
  position: relative;
  h2 {
    color: $white;
  }
  p {
    color: $white;
  }

  &:after {
    content: " ";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $black;
    opacity: 0.5;
  }

  img {
    @media (max-width: 767px) {
      min-height: 700px;
      width: auto !important;
      left: -50%;
    }
  }

  .display-1 {
    @media (max-width:1024px) {
      font-size: 4rem !important;
    }
  }

  .btn-lg {
    @media (max-width:1024px) {
      font-size:1rem !important;
    }

  }
}
